<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Houdini</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link src="../static/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{bootstrap-5.2.0-dist/css/bootstrap.min.css}" /> 
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript" th:src="@{js/jquery-3.6.0.min.js}"></script>
</head>
<body class="body-style">
    <form autocomplete="off" id="logic-form" action="#" th:action="@{/}" th:object="${logic_model}" method="post" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-2" >
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" href="/home">
                    <h1 class="set-title-navbar">
                        Houdini
                    </h1>
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="align-items: center;">
                        <a class="nav-link" href="help">
                            <h5>
                                Help
                            </h5>
                        </a>
                    </li>
                </ul>
                <div class="alert alert-danger" style="margin-left: 520px; margin-bottom: 0px;" role="alert" th:if="${is_there_a_json_error_message} == true">
                    There are some errors in the definition of the model. Check the HELP page.
                </div>
                
            </div>
            
        </nav>
       
        <div class="row row-style" style="flex-wrap: wrap;">
            <div class="col-3" style="padding: 0px !important; min-width: 300px;">
                <div class="row bg-1 row-style"style="background-color: #5ba396;">
                    <h1 class="set-title-home-facts">
                        Facts
                    </h1>
                </div>
                <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                    <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="container col-7 variable-list-home">
                            <div th:each="fact, f_i : *{facts}" class="input-group md-3">
                                <span class="input-group-text" id="basic-addon2">Fact&nbsp;<span th:text=" ${f_i.index+1}"></span></span>
                                <!--input th:field="*{facts[__${f_i.index}__]}" 
                                style="border-radius: .375rem" type="text" class="form-control"
                                th:classappend="${(f_i.index == facts_length ? 'facts-input ' : 'not-input ') + (are_facts_valid[__${f_i.index}__] ? 'valid ' : 'is-invalid ')}"-->
                                <input th:field="*{facts[__${f_i.index}__]}" th:attr="label=${f_i.index}"
                                type="text" class="form-control input-home-form" oninput="validate_facts(this, 100)" onfocusout="clear_timer()"
                                th:classappend="${(f_i.index == facts_length)} ? 'facts-input-active ' : 'facts-input-not-active '"/>
                                <div id="fatti-control-feedback" class="invalid-feedback error-home-card">
                                    <b>Use only alphanumeric symbols and '_'. You can start with '~'.</b>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-6" style="padding: 0px !important;  min-width: 300px;">
                <div class="row bg-1 row-style"style="background-color: #5ba396;">
                    <h1 class="set-title-home-rules">
                        Rules
                    </h1>
                </div>
                <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                    <div class="card card-home-rules shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="container col-5 variable-list-home-rule">
                            <div th:each="rule, r_i : *{rules}" class="input-group md-3">
                                <span class="input-group-text" id="basic-addon2">Rule&nbsp;<span th:text=" ${r_i.index+1}"></span></span>
                                <!--input th:field="*{rules[__${r_i.index}__]}" 
                                style="border-radius: .375rem" type="text" class="form-control"
                                th:classappend="${(r_i.index == rules_length ? 'rules-input ' : 'not-input ') + (are_rules_valid[__${r_i.index}__] ? 'valid ' : 'is-invalid ')}"
                                -->
                                <input th:field="*{rules[__${r_i.index}__]}" th:attr="label=${r_i.index}"
                                type="text" class="form-control input-home-form" oninput="validate_rules(this, 100)" onfocusout="clear_timer()"
                                th:classappend="${(r_i.index == rules_length)} ? 'rules-input-active ' : 'rules-input-not-active '">
                                <div id="regole-control-feedback" class="invalid-feedback error-home-card">
                                    <b>It must have the form: a -> b, a => b, a ~> b.</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 " style="padding: 0px !important;  min-width: 300px;">
                <div class="row bg-1 row-style"style="background-color: #5ba396;">
                    <h1 class="set-title-home-facts">
                        Sup. relations
                    </h1>
                </div>
                <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                    <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="container col-7 variable-list-home">
                            <div th:each="srule, sr_i : *{supRules}" class="input-group md-3">
                                <span  class="input-group-text" id="basic-addon2">Sup. rule&nbsp;<span th:text=" ${sr_i.index+1}"></span></span>
                                <!--input th:field="*{supRules[__${sr_i.index}__]}" 
                                style="border-radius: .375rem" type="text" class="form-control"
                                th:classappend="${(sr_i.index == suprules_length ? 'sup-rules-input ' : 'not-input ') + (are_suprules_valid[__${sr_i.index}__] ? 'valid ' : 'is-invalid ')}"
                                -->
                                <input th:field="*{supRules[__${sr_i.index}__]}" th:attr="label=${sr_i.index}"
                                type="text" class="form-control input-home-form" oninput="validate_suprels(this, 100)" onfocusout="clear_timer()"
                                th:classappend="${(sr_i.index == suprules_length)} ? 'sup-rules-input-active ' : 'sup-rules-input-not-active '"
                                >
                                <div id="regole-control-feedback" class="invalid-feedback error-home-card">
                                    <b>It must have the form: rx &lt; ry, rx > ry where x,y are numbers.</b>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>    
        </div>
        <div class="row bg-1 row-style" style="background-color: #84bab0; flex-wrap: wrap;">
            <button id="logic-submit" type="submit" value="Submit" class="btn btn-primary calculate-button">CALCULATE</button>
        </div>
    </form>
    <form id="upload-form" enctype="multipart/form-data" action="/upload" th:action="@{/upload}" method="post">
        <div class="row bg-1 row-style" style="background-color: #9E9E9E; flex-wrap: wrap;">
            <h1 class="set-title-home-facts">
                Upload a JSON theory
            </h1>
        </div>
        <div class="row bg-5 row-style" style="flex-wrap: wrap;">
            <div class="col">
                <div class="spinner-border spinner-home-style" role="status" th:classappend="${loading_file? ' d-all ' : ' d-none '}">
                    <span class="sr-only"></span>
                </div>
                <input class="form-control form-home-upload" type="file" name="file"/>
                <button type="submit" value="Submit" class="btn btn-primary upload-button">UPLOAD</button>
            </div>
        </div>      
    </form>
    <div class="container" th:classappend="${loading_file? ' d-all ' : ' d-none '}">
        <span th:text="${file_content}"></span>
    </div>

    <script th:inline="javascript">
        var facts_counter = /*[[${facts_length+1}]]*/1;
        var rules_counter = /*[[${rules_length+1}]]*/1;
        var sup_rules_counter = /*[[${suprules_length+1}]]*/1;
        
        var facts_validity = [];
        var rules_validity = [];
        var suprels_validity = [];

        for (let i = 0; i < facts_counter; i++) {
            facts_validity.push(true);
        }
        for (let i = 0; i < rules_counter; i++) {
            rules_validity.push(true);
        }
        for (let i = 0; i < sup_rules_counter; i++) {
            suprels_validity.push(true);
        }
    </script>

    <script>
        let f = function(e) {
            facts_counter += 1;
            facts_validity.push(true);
            let tar = $(this);
            tar.removeClass("facts-input-active");
		//<span class="input-group-text" id="basic-addon2">Fact ${facts_counter}</span>
            tar.unbind();
            tar.parent().after(`<div class="input-group md-3">
                                        <span class="input-group-text" id="basic-addon2">Fact ${facts_counter}</span>
                                        <input id="facts${facts_counter-1}" name="facts[${facts_counter-1}]" label="${facts_counter-1}"
                                        oninput="validate_facts(this, 100)" onfocusout="clear_timer()"
                                        type="text" class="form-control facts-input-active input-home-form">
                                        <div id="fatti-control-feedback" class="invalid-feedback error-home-card">
                                            <b>Evita i simboli: spazio, virgola, -, _, =, >, &lt;, ~, ¬, \, ', ", ; </b> 
                                        </div>
                                    </div>
                                `);
            $(".facts-input-active").keypress(f);
        };
        
        let r = function(e) {
            rules_counter += 1;
            rules_validity.push(true);
            let tar = $(this);
            tar.removeClass("rules-input-active ");
            tar.unbind();
            tar.parent().after(`<div class="input-group md-3">
                    <span class="input-group-text" id="basic-addon2">Rule ${rules_counter}</span>
                    <input id="rules${rules_counter-1}" name="rules[${rules_counter-1}]" label="${rules_counter-1}"
                    oninput="validate_rules(this, 100)" onfocusout="clear_timer()"
                    type="text" class="form-control rules-input-active input-home-form"
                </div>
            `);
            $(".rules-input-active").keypress(r);
        };

        let sr = function(e) {
            sup_rules_counter += 1;
            suprels_validity.push(true);
            let tar = $(this);
            tar.removeClass("sup-rules-input-active ");
            tar.unbind();
            tar.parent().after(`<div class="input-group md-3">
                    <span class="input-group-text" id="basic-addon2">Sup. rule ${sup_rules_counter}</span>
                    <input id="supRules${sup_rules_counter-1}" name="supRules[${sup_rules_counter-1}]" label="${sup_rules_counter-1}"
                    oninput="validate_suprels(this, 100)" onfocusout="clear_timer()"
                    type="text" class="form-control sup-rules-input-active input-home-form"
                </div>
            `);
            $(".sup-rules-input-active").keypress(sr);
        };
        $(".facts-input-active").keypress(f);
        $(".rules-input-active").keypress(r);
        $(".sup-rules-input-active").keypress(sr);
    </script>
    

    <script>
    
    function check_form_validity() {
        //console.log(facts_validity.some(function(e) {e === false;}));
        return !(facts_validity.some(e => e===false) || rules_validity.some(e => e===false) || suprels_validity.some(e => e===false));
    }
    function change_submit_button_state() {
        if (check_form_validity()) {
            $("#logic-submit").removeClass("disabled");
        } else {
            $("#logic-submit").addClass("disabled");
        }
    }
          
    function set_validity(type, validity, index) {
        if (type === "facts") {
            facts_validity[index] = validity;
        } else if (type === "rules") {
            rules_validity[index] = validity;
        } else if (type === "suprels") {
            suprels_validity[index] = validity;
        } else {
           console.error("Wrong type in function 'set_validity'"); 
        }
        
    }
    
    let _timer = null;
    
    let validate_facts = function(elem, ms) {
        if (_timer === null) {
            const index = parseInt(elem.attributes["label"]["value"]);
            _timer = setInterval(function() {
                if (!elem.value.match(/^$|^[ ]*(\~)?[a-zA-Z_0-9àèéìòù]*[ ]*$/)) {
                    $(elem).addClass("is-invalid");
                    set_validity("facts", false, index);
                } else {
                    $(elem).removeClass("is-invalid");
                    set_validity("facts", true, index);
                };
                change_submit_button_state();
            }, ms);
        }
    }

  
    let validate_rules= function(elem, ms) {
        if (_timer === null) {
            const index = parseInt(elem.attributes["label"]["value"]);
            _timer = setInterval(function() {
                if (!elem.value.match(/^$|^[ ]*(\~)?[a-zA-Z0-9_àèéìòù, ~]*[ ]*[-=~]\>[ ]*(\~)?[a-zA-Z_0-9àèéìòù]+[ ]*$/)) {
                    $(elem).addClass("is-invalid");
                    set_validity("rules", false, index);
                } else {
                    $(elem).removeClass("is-invalid");
                    set_validity("rules", true, index);
                };
                change_submit_button_state();
            }, ms);
        }
    }

    let validate_suprels = function(elem, ms) {
        if (_timer === null) {
            const index = parseInt(elem.attributes["label"]["value"]);
            _timer = setInterval(function() {
                if (!elem.value.match(/^$|^[ ]*r[1-9][0-9]*[ ]*[><][ ]*r[1-9][0-9]*[ ]*$/)) {
                    $(elem).addClass("is-invalid");
                    set_validity("suprels", false, index);
                } else {
                    $(elem).removeClass("is-invalid");
                    set_validity("suprels", true, index);
                };
                change_submit_button_state();
            }, ms);
        }
    }

    let clear_timer = function() {
        clearInterval(_timer);
        _timer = null;
    }
    
    $("#logic-form").on("submit", function(e) {
        if (!check_form_validity()) e.preventDefault();
    })
    </script>
    
</body>

</html>
