<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Houdini</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link src="../static/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{bootstrap-5.2.0-dist/css/bootstrap.min.css}" /> 
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript" th:src="@{js/jquery-3.6.0.min.js}"></script>
    <script>
        function debounce(func, wait, immediate) {
            var timeout, args, context, timestamp, result;
            if (null == wait) wait = 100;
    
            function later() {
                var last = Date.now() - timestamp;
    
                if (last < wait && last >= 0) {
                timeout = setTimeout(later, wait - last);
                } else {
                timeout = null;
                if (!immediate) {
                    result = func.apply(context, args);
                    context = args = null;
                }
                }
            };
    
            var debounced = function(){
                context = this;
                args = arguments;
                timestamp = Date.now();
                var callNow = immediate && !timeout;
                if (!timeout) timeout = setTimeout(later, wait);
                if (callNow) {
                result = func.apply(context, args);
                context = args = null;
                }
    
                return result;
            };
    
            debounced.clear = function() {
                if (timeout) {
                clearTimeout(timeout);
                timeout = null;
                }
            };
            
            debounced.flush = function() {
                if (timeout) {
                result = func.apply(context, args);
                context = args = null;
                
                clearTimeout(timeout);
                timeout = null;
                }
            };
    
            return debounced;
        };
    
        // Adds compatibility for ES modules
        debounce.debounce = debounce;
    </script>
    <!--script>
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
};
    </script-->
</head>
<body class="body-style">
    <form id="logic-form" action="#" th:action="@{/}" th:object="${logic_model}" method="post">
        <nav class="navbar navbar-expand-lg navbar-dark bg-2" >
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" href="/">
                    <h1 class="set-title-navbar">
                        Houdini
                    </h1>
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="align-items: center;">
                        <a class="nav-link" href="help">
                            <h5>
                                Help
                            </h5>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row row-style" style="flex-wrap: wrap;">
            <div class="col-3" style="padding: 0px !important; min-width: 300px;">
                <div class="row bg-1 row-style"style="background-color: #5ba396;">
                    <h1 class="set-title-home-facts">
                        Facts
                    </h1>
                </div>
                <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                    <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="container col-7 variable-list-home">
                            <div th:each="fact, f_i : *{facts}" class="input-group md-3">
                                <span class="input-group-text" id="basic-addon2">Fact&nbsp;<span th:text=" ${f_i.index+1}"></span></span>
                                <input th:field="*{facts[__${f_i.index}__]}" 
                                style="border-radius: .375rem" type="text" class="form-control facts-input" oninput="validate_facts(this, 333)" onfocusout="clear_timer()"
                                th:classappend="${(f_i.index == facts_length ? 'facts-input-active ' : 'facts-input-not-active ') + (are_facts_valid[__${f_i.index}__] ? 'valid ' : 'is-invalid ')}"/>
                                <div id="fatti-control-feedback" class="invalid-feedback error-home-card">
                                    <b>Use only alphanumeric symbols and '_'</b>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-6" style="padding: 0px !important;  min-width: 300px;">
                <div class="row bg-1 row-style"style="background-color: #5ba396;">
                    <h1 class="set-title-home-rules">
                        Rules
                    </h1>
                </div>
                <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                    <div class="card card-home-rules shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="container col-5 variable-list-home-rule">
                            <div th:each="rule, r_i : *{rules}" class="input-group md-3">
                                <span class="input-group-text" id="basic-addon2">Rule&nbsp;<span th:text=" ${r_i.index+1}"></span></span>
                                <input th:field="*{rules[__${r_i.index}__]}" 
                                style="border-radius: .375rem" type="text" class="form-control rules-input" oninput="validate_rules(this, 333)" onfocusout="clear_timer()"
                                th:classappend="${(r_i.index == rules_length ? 'rules-input-active ' : 'rules-input-not-active ') + (are_rules_valid[__${r_i.index}__] ? 'valid ' : 'is-invalid ')}">
                                <div id="regole-control-feedback" class="invalid-feedback error-home-card">
                                    <b>It must have the form: a -> b, a => b, a ~> b.</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 " style="padding: 0px !important;  min-width: 300px;">
                <div class="row bg-1 row-style"style="background-color: #5ba396;">
                    <h1 class="set-title-home-facts">
                        Sup. relations
                    </h1>
                </div>
                <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                    <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="container col-7 variable-list-home">
                            <div th:each="srule, sr_i : *{supRules}" class="input-group md-3">
                                <span  class="input-group-text" id="basic-addon2">Sup. rule&nbsp;<span th:text=" ${sr_i.index+1}"></span></span>
                                <input th:field="*{supRules[__${sr_i.index}__]}" oninput="validate_suprules(this, 333)" onfocusout="clear_timer()"
                                style="border-radius: .375rem" type="text" class="form-control sup-rules-input"
                                th:classappend="${(sr_i.index == suprules_length ? 'sup-rules-input-active ' : 'sup-rules-input-not-active ') + (are_suprules_valid[__${sr_i.index}__] ? 'valid ' : 'is-invalid ')}">
                                <div id="regole-control-feedback" class="invalid-feedback error-home-card">
                                    <b>It must have the form: rx &lt; ry, rx > ry where x,y are numbers.</b>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>    
        </div>
        <div class="row bg-1 row-style" style="background-color: #84bab0; flex-wrap: wrap;">
            <button type="submit" value="Submit" class="btn btn-primary calculate-buttom">CALCULATE</button>
        </div>
    </form>
    <form id="upload-form" enctype="multipart/form-data" action="/upload" th:action="@{/upload}" method="post">
        <div class="row bg-1 row-style" style="background-color: #9E9E9E; flex-wrap: wrap;">
            <h1 class="set-title-home-facts">
                Upload a JSON theory
            </h1>
        </div>
        <div class="row bg-5 row-style" style="flex-wrap: wrap;">
            <div class="col">
                <div class="spinner-border spinner-home-style" role="status" th:classappend="${loading_file? ' d-all ' : ' d-none '}">
                    <span class="sr-only"></span>
                </div>
                <input class="form-control form-home-upload" type="file" name="file"/>
                <button type="submit" value="Submit" class="btn btn-primary upload-buttom">UPLOAD</button>
            </div>
        </div>      
    </form>
    <div class="container" th:classappend="${loading_file? ' d-all ' : ' d-none '}">
        <span th:text="${file_content}"></span>
    </div>

    <script th:inline="javascript">
        var facts_counter = /*[[${facts_length+1}]]*/1;
        var rules_counter = /*[[${rules_length+1}]]*/1;
        var sup_rules_counter = /*[[${suprules_length+1}]]*/1;
    </script>

    <script>
        let f = function(e) {
            facts_counter += 1;
            let tar = $(this);
            tar.removeClass("facts-input-active");
            tar.unbind();
            tar.parent().after(`<div class="input-group md-3">
                                        <span class="input-group-text" id="basic-addon2">Fact ${facts_counter}</span>
                                        <input id="facts${facts_counter-1}" name="facts[${facts_counter-1}]"
                                        style="border-radius: .375rem" oninput="validate_facts(this, 333)" onfocusout="clear_timer()"
                                        th:classappend="\${are_facts_valid} ? ok : is-invalid" type="text" class="form-control facts-input facts-input-active "></input>
                                        <div id="fatti-control-feedback" class="invalid-feedback error-home-card">
                                            <b>Evita i simboli: spazio, virgola, -, _, =, >, &lt;, ~, ¬, \, ', ", ; </b> 
                                        </div>
                                    </div>
                               `);
            
            $(".facts-input-active").mousedown(f);
        };
        
        let r = function(e) {
            rules_counter += 1;
            let tar = $(this);
            tar.removeClass("rules-input-active ");
            tar.unbind();
            tar.parent().after(`<div class="input-group md-3">
                                        <span class="input-group-text" id="basic-addon2">Rule ${rules_counter}</span>
                                        <input id="rules${rules_counter-1}" name="rules[${rules_counter-1}]"
                                        style="border-radius: .375rem" oninput="validate_rules(this, 333)" onfocusout="clear_timer()"
                                        th:classappend="\${are_rules_valid} ? ok : is-invalid" type="text" class="form-control rules-input rules-input-active "></input>
                                    </div>
                               `);
            $(".rules-input-active ").mousedown(r);
        };

        let sr = function(e) {
            sup_rules_counter += 1;
            let tar = $(this);
            tar.removeClass("sup-rules-input-active ");
            tar.unbind();
            tar.parent().after(`<div class="input-group md-3">
                                        <span class="input-group-text" id="basic-addon2">Sup. rule ${sup_rules_counter}</span>
                                        <input id="supRules${sup_rules_counter-1}" name="supRules[${sup_rules_counter-1}]" 
                                        style="border-radius: .375rem" oninput="validate_suprels(this, 333)" onfocusout="clear_timer()"
                                        th:classappend="\${are_suprules_valid} ? ok : is-invalid" type="text" class="form-control sup-rules-input sup-rules-input-active "></input>
                                    </div>
                               `);
            $(".sup-rules-input-active ").mousedown(sr);
        };
        
        $(".facts-input-active").mousedown(f);
        $(".rules-input-active ").mousedown(r);
        $(".sup-rules-input-active ").mousedown(sr);
    </script>
    

    <script>
    //TODO add debouncing to this function!
    let _timer = null;

    let validate_facts = function(elem, ms) {
        //_timer = setInterval(validate_facts_text(elem), 100);
        if (_timer === null) {
            _timer = setInterval(function() {
                if (!elem.value.match(/^[ ]*(\~)?[a-zA-Z_]*[ ]*$/)) {
                    $(elem).addClass("is-invalid");
                } else {
                    $(elem).removeClass("is-invalid");
                }
            }, ms);
        }
    }

  
    let validate_rules= function(elem, ms) {
        if (_timer === null) {
            _timer = setInterval(function() {
                if (!elem.value.match(/^[ ]*(\~)?[a-zA-Z_, ~]*[ ]*[-=~]\>[ ]*(\~)?[a-zA-Z_]+[ ]*$/)) {
                    $(elem).addClass("is-invalid");
                } else {
                    $(elem).removeClass("is-invalid");
                }
            }, ms);
        }
    }

    let validate_suprels = function(elem, ms) {
        if (_timer === null) {
            _timer = setInterval(function() {
                if (!elem.value.match(/^[ ]*r[1-9][0-9]*[ ]*[><][ ]*r[1-9][0-9][ ]*$/)) {
                    $(elem).addClass("is-invalid");
                } else {
                    $(elem).removeClass("is-invalid");
                }
            }, ms);
        }
    }

    let clear_timer = function() {
        clearInterval(_timer);
        _timer = null;
    }
    
    </script>
</body>

</html>
