<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Houdini</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link src="../static/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{bootstrap-5.2.0-dist/css/bootstrap.min.css}" />
    <link href="style.css" rel="stylesheet" />
</head>

<body class="body-style">
    <nav class="navbar navbar-expand-lg navbar-dark bg-2">
        <a class="navbar-brand" href="/"> 
            <h1 class="set-title-navbar">
                Houdini
            </h1>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="align-items: center;">
                    <a class="nav-link" href="/">
                        <h5>
                            Help
                        </h5>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row bg-1 row-style" style="background-color: #5ba396;">
        <div class="col">
            <h1 class="set-title-derivation">
                +Δ
            </h1>
        </div>
        <div class="col">
            <h1 class="set-title-derivation">
                -Δ
            </h1>
        </div>
        <div class="col">
            <h1 class="set-title-derivation">
                +∂
            </h1>
        </div>
        <div class="col">
            <h1 class="set-title-derivation">
                -∂
            </h1>
        </div>
    </div>
    <div class="row row-style" style="background-color: #84bab0;">
        <div class="col">
            <div class="card card-extension shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-theory-extension">
                    <h4>∅</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-extension shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-theory-extension">
                    <h4>∅</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-extension shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-theory-extension">
                    <h4>∅</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-extension shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-theory-extension">
                    <h4>∅</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-style" style="flex-wrap: wrap;">
        <div class="col-3" style="padding: 0px !important; min-width: 300px;">
            <div class="row bg-1 row-style"style="background-color: #9E9E9E;">
                <h1 class="set-title-summary-facts">
                    Facts
                </h1>
            </div>
            <div class="row bg-5 row-style" style="padding: 20px;">
                <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="container col-7 scroll-view-list-summary">
                        <h4 th:each="fact : ${logic_model.getFacts()}">
                            <span th:text="${fact}"></span>
                        </h4>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-6" style="padding: 0px !important;  min-width: 300px;">
            <div class="row bg-1 row-style"style="background-color: #9E9E9E;">
                <h1 class="set-title-summary-facts">
                    Rules
                </h1>
            </div>
            <div class="row bg-5 row-style" style="padding: 20px;">
                <div class="card card-home-rules shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="container col-5 scroll-view-list-summary-rules">
                        <h4 th:each="rule : ${logic_model.getRules()}">
                            <span th:text="${rule}"></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 " style="padding: 0px !important;  min-width: 300px;">
            <div class="row bg-1 row-style"style="background-color: #9E9E9E;">
                <h1 class="set-title-summary-facts">
                    Sup. relations
                </h1>
            </div>
            <div class="row bg-5 row-style" style="padding: 20px;">
                <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="container col-7 scroll-view-list-summary">
                        <h4 th:each="srule : ${logic_model.getSupRules()}">
                            <span th:text="${srule}"></span>
                        </h4>
                    </div>  
                </div>
            </div>
        </div>    
    </div>
    <!-- <div class="row bg-5 row-style">
        <div class="col">
            <div class="card card-summary shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-summary">
                    <h4 th:each="fact : ${logic_model.getFacts()}">
                        <span th:text="${fact}"></span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-summary-rules shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-summary-rules">
                    <h4 th:each="rule : ${logic_model.getRules()}">
                        <span th:text="${rule}"></span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col" style="padding-bottom: 218px;">
            <div class="card card-summary shadow-sm p-3 mb-5 bg-white rounded">
                <div class="scroll-view-list-summary">
                    <h4 th:each="srule : ${logic_model.getSupRules()}">
                        <span th:text="${srule}"></span>
                    </h4>
                </div>
            </div>
        </div> -->
            <!--<div class="container" style="margin-top: 35px;">
                <form th:action="@{/}" method="GET">
                    <button type="submit" value="Submit" class="btn btn-secondary">HOME</button></button>
                </form>
            </div>-->
</body>

</html>
