<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Houdini</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link src="../static/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{bootstrap-5.2.0-dist/css/bootstrap.min.css}" /> 
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript" th:src="@{js/jquery-3.6.0.min.js}"></script>
</head>
<body class="body-style-help">
    <nav class="navbar navbar-expand-lg navbar-dark bg-2" >
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="/">
                <h1 class="set-title-navbar">
                    Houdini
                </h1>
            </a>
        </div>
    </nav>
    <div class="row row-style" style="flex-wrap: wrap;">
        <!-- What is Houdini -->
        <!-- How to write a theory -->
        <!-- How to upload a theory -->
        <!-- Extensions of the theory -->
        <div class="col" style="min-width: 300px;">
            <div class="row bg-1 row-style">
                <h1 class="set-title-home-facts">
                    What is Houdini?
                </h1>
            </div>
            <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                    <h2 style="color: #000000;">
                        Houdini is...
                    </h2>
                </div>
            </div>
        </div>
        <div class="col" style="min-width: 300px;">
            <div class="row bg-1 row-style">
                <h1 class="set-title-home-facts">
                    How to write a theory?
                </h1>
            </div>
            <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                    <h2 style="color: #000000;">
                        You can write a theory...
                    </h2>
                </div>
            </div>
        </div>
        <div class="col" style="min-width: 300px;">
            <div class="row bg-1 row-style">
                <h1 class="set-title-home-facts">
                    How to upload a theory
                </h1>
            </div>
            <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                    <h2 style="color: #000000;">
                        You can upload a theory...
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-style" style="flex-wrap: wrap;">
        <div class="col" style="min-width: 300px;">
            <div class="row bg-1 row-style">
                <h1 class="set-title-home-facts">
                    Extensions of the theory
                </h1>
            </div>
            <div class="row bg-1 row-style" style="background-color: #84bab0; padding: 20px;">
                <div class="card card-home shadow-sm p-3 mb-5 bg-white rounded">
                    <h2 style="color: #000000;">
                        The extensions of the theory is calculate as...
                    </h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
