html, body {
    height: 100%;
}

body {
    margin: 0%;    
    min-height: 100%;
}


.body-style {
    width: 100%;
    height: 100%;
    background-color: #BCBCBC;
}

.body-style-help {
    width: 100%;
    height: 100%;
    background-color: #84bab0;
}

.set-title-theory-summary {
    padding-left: 80px;
    padding-top: 15px;
    padding-right: 0px;
}

.set-title-navbar {
    padding-left: 20px;
}

.set-title-derivation {
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0px;
}

.set-title-summary-facts {
    padding-left: 25px;
    padding-top: 10px;
}

.set-title-home-facts {
    padding-left: 25px;
    padding-top: 10px;
}

.set-title-home-rules {
    padding-left: 25px;
    padding-top: 10px;
}

.error-home-card {
    margin-bottom: 6px;
    color:#000000;
}

.calculate-button {
    background-color: #015d52;
    /* margin-left: 306px; */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 110px;
    margin-left: 26px;
}

.calculate-button.disabled{
    cursor: not-allowed; 
    pointer-events: all !important;
    --bs-btn-focus-shadow-rgb: none;
}

.spinner-home-style {
    margin-left: 90px;
    margin-top: 15px;
}

.form-home-upload {
    width: 20%;
    margin-left: 80px;
    margin-top: 70px;
    margin-left: 15px;
}

.upload-button {
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 19px;
    background-color: #015d52;
    margin-left: 15px;
}

.row-style {
    margin: 0px;
    width: 100%;
}

.column-style-home {
    padding: 0px;
}

.card-extension{
    width: 380px; 
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 17px;
    align-items: center;
    /* background-color: #E4E4E4 !important; */
}

.card-summary{
    width: 380px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 17px;
    align-items: center;
    background-color: #E4E4E4 !important;
}

.card-summary-rules{
    width: 900px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 17px;
    align-items: center;
    background-color: #E4E4E4 !important;
}

.card-home {
    /* width: 380px; */
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 17px;
    align-items: center;
    padding: 20px !important;
    /* background-color: #b7d7d1 !important; */
}

.card-home-rules {
    /* width: 750px; */
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 17px;
    align-items: center;
    padding: 20px !important;

    /* background-color: #b7d7d1 !important; */
}

.scroll-view-list-theory-extension {
    height: 240px;
    width: -webkit-fill-available;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.scroll-view-list-summary {
    height: 240px;
    width: -webkit-fill-available;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.scroll-view-list-summary-rules {
    height: 240px;
    width: -webkit-fill-available;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.variable-list-home {
    height: 300px;
    width: -webkit-fill-available;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.variable-list-home-rule {
    height: 300px;
    width: -webkit-fill-available;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-home-form{
    border-radius: .375rem !important;
}

/* .mycard .anyClass{
    padding-left: 10px; 
    padding-bottom: 10px;
} */

.bg-1 {
    background-color: #84bab0;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #ffffff;
    color: #474e5d;
}

.bg-5 {
    background-color: #BCBCBC;
}

.mb-5 {
    margin-bottom: 1rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}
